body {
  display: flex;
  background: whitesmoke;
  flex-direction: column;
  align-items: center;
  height: 150vh;
}

/* Will contain all night-out and night-in elements allowing for flipping animation */
.flip-container {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

/* Creates container for actual content; this is what flips */
.flip-container-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Night In side with text reversed */
.flip-back {
  transform: rotateY(180deg);
}

/* Initial settings for both sides of container, Night In hidden */
.flip-front, .flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* NIGHT OUT */

.night-out-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: 'Tourney', cursive;
  font-size: 10vh;
  background: lightslategray;
  margin: 20px;
  padding: 10px 0;
  width: 80vw;
  height: auto;
  border: 4px solid ivory;
  border-radius: 10%;
  color: ivory;
}


h4  {
  font-family: 'Tourney', cursive;
  color: crimson;
  text-align: center;
  font-size: 1.5vh;
  width: 50vw;
  height: auto;
  background: darkturquoise;
  background-size: contain;
  padding: 10px;
  border: 4px solid lightgray;
}

.zip {
  width: 60vw;
  height: 7vh;
  font-size: 3vh;
  text-align: center;
}

.zip_submit {
  width: 120px;
  height: 7vh;
  background: lightgray;
  border: none;
  margin-left: 5px;
}

.zip_submit_pressed {
  width: 120px;
  height: 7vh;
  background: lightgoldenrodyellow;
  border: none;
  margin-left: 5px;
}

.content-container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-family: 'Yomogi', cursive;
}

.carousel-container {
  width: 70vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  border: 1px solid gray;
}

#restaurant_carousel div {
  display: none;
}

#restaurant_carousel div:first-of-type {
  display: block;
  text-align: center;
}

dt {
  margin: 10px;
  text-align: center;
  font-size: 2vh;
}

dd {
  margin: 10px;
  text-align: center;
  font-size: 2vh;
  overflow-wrap: normal;
}

a {
  text-decoration-style: none;
  color: black;
}

.button {
  width: 100px;
  height: 70px;
  background: lightgray;
  border: none;
  margin: 0 5px;
}

.pressedButton {
  width: 100px;
  height: 70px;
  background: lightgoldenrodyellow;
  border: none;
}

/* NIGHT IN */

#recipe_carousel div {
  display: none;
}

#recipe_carousel div:first-of-type {
  display: block;
  text-align: center;
}

img {
  margin: 10px auto;
  width: 80%;
}

.night-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1000px) {
  html {
    background-image: url('https://cdn.wallpapersafari.com/18/45/InHrMB.jpg');
    background-size: auto;
  }

  body {
    display: flex;
    margin: auto;
    background: whitesmoke;
    background-size: contain;
    flex-direction: column;
    align-items: center;
    width: 750px;
    height: 200vh;
  }

  h1 {
    text-align: center;
    font-family: 'Tourney', cursive;
    font-size: 10vh;
    background: lightslategray;
    margin: 20px;
    padding: 10px 0;
    width: 700px;
    height: auto;
    border: 4px solid ivory;
    border-radius: 10%;
    color: ivory;
  }

  h4  {
    font-family: 'Tourney', cursive;
    color: crimson;
    text-align: center;
    width: 30vw;
    height: auto;
    background: darkturquoise;
    background-size: contain;
    padding: 10px;
    border: 4px solid lightgray;
  }

  form {
    text-align: center;
    margin: 5vh;
    width: 700px;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .zip {
    width: 80%;
    height: 7vh;
    font-size: 3vh;
    text-align: center;
  }

  .content-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-family: 'Yomogi', cursive;
  }

  .carousel-container {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    border: 1px solid gray;
  }

  /* NIGHT IN */

  .night-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    margin: 10px auto;
    width: 80%;
  }

}   /* End of media query */
